body {
    background-image: url("../images/background.jpg");
}

.theAnswers {
    width: 150px;
    height: 50px;
    background: red;
    margin: 20px auto;
    text-align: center;
    float: left;
    margin: 20px;
    padding: 7px;
    border: 2px black solid;
    cursor: pointer;
    box-shadow: 0 5px 8px black;
}

.theAnswers:active {
    box-shadow: 0 1px black;
    transform: translateY(4px);
}

#start {
    position: absolute;
    box-shadow: 0 5px 8px black;
}

#start:active {
    box-shadow: 0 1px black;
    transform: translateY(4px);
}

.pics {
    width: 540px;
    height: 540px;
    margin: 0 auto;
}

#buttons {
    position: relative;
    height: 40px;
    /* margin-bottom: 10px; */
}

#question {
    position: relative;
    text-align: center;
    background-color: black;
    border: 2px white solid;
    color: white;
    margin-right: 50px;
}

#timer {
    position: relative;
    margin-left: 25px;
    padding-left: 35px;
    color: red;
}

#results {
    position: relative;
    padding: 2px;
    text-align: center;
    background-color: black;
    border: 2px white solid;
    color: white;
    margin-left: 70px;
    margin-top: 10px;
}

#resultsImg {
    position: relative;
}